<div th:fragment="header">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>АИС учёта штрафов ГИБДД</strong>
            </a>

<!--            <div class="btn-group" role="group">-->
<!--                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    Документы-->
<!--                </button>-->
<!--                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">-->
<!--                    &lt;!&ndash; <a class="dropdown-item" href="#">Транспорт</a> &ndash;&gt;-->
<!--                    <a class="dropdown-item" href="../user">Права</a>-->
<!--                    <a class="dropdown-item" href="#">ИНН</a>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
</div>